{% extends 'index.html' %}
{% load static %}
{% block content %}
    <!-- Header Section End -->

    <!-- Blog Hero Begin -->
    <section class="breadcrumb-option blog-hero set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog__hero__text">
                        <h2>Nine Ways You Can Keep Fit At University</h2>
                        <ul>
                            <li>By <span>Grace Carter</span></li>
                            <li>November 7, 2019</li>
                            <li>08 Comments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 order-lg-1 order-2">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__search">
                            <!-- <form action="#">
                                <input type="text" placeholder="Search">
                                <button><span class="icon_search"></span></button>
                            </form> -->
                        </div>
                        <div class="blog__sidebar__categories">
                            <!-- <h4>Categories</h4> -->
                            <ul>
                                <!-- <li><a href="#">All</a></li>
                                <li><a href="#">Fuel (20)</a></li>
                                <li><a href="#">Sweat (5)</a></li>
                                <li><a href="#">Play (9)</a></li>
                                <li><a href="#">Live (10)</a></li> -->
                            </ul>
                        </div>
                        <div class="blog__sidebar__recent">
                            <!-- <h4>Recent News</h4> -->
                            <div class="blog__recent__item">
                                <div class="blog__recent__item__pic">
                                    <!-- <img src="{% static "img/blog/br-1.jpg" %}" alt=""> -->
                                </div>
                                <div class="blog__recent__item__text">
                                    <!-- <h6>09 Kinds Of Vegetables Protect The Liver</h6>
                                    <span>MAR 05, 2019</span> -->
                                </div>
                            </div>
                            <div class="blog__recent__item">
                                <div class="blog__recent__item__pic">
                                    <!-- <img src="{% static "img/blog/br-2.jpg" %}" alt=""> -->
                                </div>
                                <div class="blog__recent__item__text">
                                    <!-- <h6>Tips You To Balance Nutrition Meal Day</h6>
                                    <span>MAR 05, 2019</span> -->
                                </div>
                            </div>
                            <div class="blog__recent__item">
                                <div class="blog__recent__item__pic">
                                    <img src="img/blog/br-3.jpg" alt="">
                                </div>
                                <div class="blog__recent__item__text">
                                    <!-- <h6>4 Principles Help You Lose Weight With Vegetables</h6>
                                    <span>MAR 05, 2019</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="blog__sidebar__tags">
                            <!-- <h4>Search By Tags</h4>
                            <a href="#">Weight</a>
                            <a href="#">Beauty</a>
                            <a href="#">Yoga Ball</a>
                            <a href="#">Fruit</a>
                            <a href="#">Healthy Food</a>
                            <a href="#">Lifestyle</a> -->
                        </div>
                        <div class="blog__sidebar__comment">
                            <!-- <h4>Comment</h4> -->
                            <div class="classes__sidebar__comment">
                                <div class="classes__sidebar__comment__pic">
                                    <!-- <img src="{% static "img/classes-details/comment-1.png" %}" alt=""> -->
                                    <div class="classes__sidebar__comment__rating">
                                        <!-- <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i> -->
                                    </div>
                                </div>
                                <div class="classes__sidebar__comment__text">
                                    <!-- <span>04 Mar 2018</span>
                                    <h6>Brandon Kelley</h6>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit,</p> -->
                                </div>
                            </div>
                            <div class="classes__sidebar__comment">
                                <div class="classes__sidebar__comment__pic">
                                    <!-- <img src="{% static "img/classes-details/comment-2.png" %}" alt=""> -->
                                    <div class="classes__sidebar__comment__rating">
                                        <!-- <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i> -->
                                    </div>
                                </div>
                                <div class="classes__sidebar__comment__text">
                                    <!-- <span>04 Mar 2018</span>
                                    <h6>Christina Kelley</h6>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 order-lg-2 order-1">
                    <div class="blog__details">
                        <div class="blog__details__large">
                            <img src="{{ blog.main_pic1.url }}" alt="" style="height:500px;width:500px;">
                            <span>{{ blog.Date }}</span>
                        </div>
                        <div class="blog__details__text">
                            <p>{{ blog.top_content }} </p>
                        </div>
                        <div class="blog__details__quote">
                            <p>{{ blog.important_notes }}</p>
                        </div>
                        <div class="blog__details__pic">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <img src="{{ blog.pic1.url }}" alt="">
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <img src="{{ blog.pic2.url }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__desc">
                            <h4>{{ blog.title }}</h4>
                            <p>{{ blog.content }}</p>
                            <!-- <p >Seriously, skip a session and get some rest. There will be some days when taking a nap
                                will have way more benefit to you than putting in a hard session and feeling exhausted.
                                Exercise is supposed to energise and inspire.</p> -->
                        </div>
                        <!-- <div class="blog__details__tags__share">
                            <p><span>Tags:</span> All, Trending, Fuel, Cardio, Life Style</p>
                            <div class="blog__details__share">
                                <a href="#"><span class="social_facebook"></span></a>
                                <a href="#"><span class="social_instagram"></span></a>
                                <a href="#"><span class="social_twitter"></span></a>
                                <a href="#"><span class="social_linkedin"></span></a>
                            </div> -->
                        </div>
                        <!-- <div class="blog__details__author">
                            <div class="blog__details__author__pic">
                                <img src="{% static "img/blog/details/blog-posted.png" %}"  alt="">
                            </div>
                            <div class="blog__details__author__text">
                                <h4>Grace Carter</h4>
                                <p>The face of the moon was in shadow.The spectacle before us was indeed sublime. All
                                    the their that dummy equipment and instruments are alive.</p>
                            </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <a href="#" class="blog__previous__btn">
                                    <i class="fa fa-angle-left"></i>
                                    <h6>6 Reasons to get rebounding</h6>
                                    <span>Previous Post</span>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <a href="#" class="blog__next__btn">
                                    <i class="fa fa-angle-right"></i>
                                    <h6>Tips make cooking simple</h6>
                                    <span>Previous Post</span>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Leave Comment Begin -->
   {% endblock %}