{% load static %}


<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Guruji services</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/elegant-icons.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/nice-select.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/barfiller.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/slicknav.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>
<style>

.services__item{
    transition: all 1s;
}

.services__item:hover{
    transform: scale(1.2);

}

.home__about__pic__item{
    transition: all 1s;


}

.home__about__pic__item:hover{
    transform: scale(1.2);

}

.chooseus__item__icon{
    transition: all 1s;

}

.chooseus__item__icon:hover{
    transform: scale(1.2);

}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



/* .section-title{
    position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

}

@keyframes example{
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
}   */


.text {
  /* background-color: #cc0000; */
  position: relative;
  font-size: 250px;
  text-transform: capitalize;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
}

.text::before {
  content: attr(data-fill-text);
  position: absolute;
  width: 0;
  height: 100%;
  color: #ffffff;
  -webkit-text-stroke: 0px transparent;
  overflow: hidden;
  transition: width 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.text:hover::before {
  width: 100%;
}

.card-img-container{
    height:140px;
}
.card-img-container img{
    height:150px;
}

/* .card-title{
    text-size-adjus;

    
} */

.card-text{

    font-size: 15px;
    text-align: start;

}

@media (max-width: 767px) {
        .col-xl-8 {
            margin-right: 0;
        }
    }




</style>

<body>


    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu">
        <div class="offcanvas__logo">
            <a href="{% url 'home' %}"><img src="{% static 'img/logo1.png' %}" alt="" style="width:150px; height:60px;"></a>

        </div>

        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__widget">
            <ul>
                <li>Hotline: +977 9869111406</li>
                <li>Email: panditatservices@gmail.com</li>
            </ul>
        </div>



        <nav class="header__menu">
            <ul class="mobile-menu">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'courses' %}">Puja Services</a></li>
                <li><a>Find your pandit</a>
                    <ul class="dropdown">

                        <ul>
                        <li><a href="{% url 'findpandit' name='Canada' %}" >Canada</a></li>
                        <li><a href="{% url 'findpandit' name='India' %}"   >India</a></li>
                        <li><a href="{% url 'findpandit' name='Nepal' %}" >Nepal</a></li>    
                        <li><a href="{% url 'findpandit' name='USA' %}" >USA</a></li>    
                        <li><a href="{% url 'findpandit' name='Australia' %}" >Australia</a></li>    
                    </ul>
                    
                    </ul>
                </li>
               
                <li><a href="{% url 'blogs' %}">Blog</a></li>
                <a href="{% url 'create_pandit' %}" class="btn btn-warning">
                    <i class="fa fa-user fa-lg"></i>
                    Become a pandit
                  </a>
                  <br>

                  <a href="{% url 'view_cart' %}" class="btn btn-warning">
                    <i class="fa fa-shopping-basket fa-lg"></i>
                    Cart: {{ count}}
                  </a>
            </ul>
        </nav>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>



        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header" style="background-color: whitesmoke;">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3">
                        <div class="header__logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'img/logo1.png' %}" alt="Logo" style="width: 150px; height: 60px;">
                            </a>
                        </div>
                    </div>
    
                    <div class="col-lg-9 col-md-9">
                        <div class="header__top__widget">
                            <a href="{% url 'create_pandit' %}" class="btn btn-warning">
                                <i class="fa fa-user fa-lg"></i> Become a Pandit
                            </a>
                            <a href="{% url 'view_cart' %}" class="btn btn-warning">
                                <i class="fa fa-shopping-basket fa-lg"></i> Cart: {{ count }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="canvas__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
    
        <div class="header__nav" style="background-image:linear-gradient(to top,#f7b733,#fc4a1a);border: 2px solid whitesmoke; font-family: sans-serif;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="{% url 'home' %}" style="color: black;">Home</a></li>
                                <li><a href="{% url 'about' %}" style="color: black;">About</a></li>
                                <li><a href="{% url 'courses' %}" style="color: black;">Puja Services</a></li>
                                <li><a style="color: black;">Find Your Pandit</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'findpandit' name='Canada' %}" style="color: black;">Canada</a></li>
                                        <li><a href="{% url 'findpandit' name='India' %}" style="color: black;">India</a></li>
                                        <li><a href="{% url 'findpandit' name='Nepal' %}" style="color: black;">Nepal</a></li>
                                        <li><a href="{% url 'findpandit' name='USA' %}" style="color: black;">USA</a></li>
                                        <li><a href="{% url 'findpandit' name='Australia' %}" style="color: black;">Australia</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'blogs' %}" style="color: black;">Blog</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="header__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Header Section End -->
    {% block content %}

        <section style="margin:50px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8" style="margin-right: 20px; text-align: center;">
                        <p style="background-image:linear-gradient(90deg,red,blue);background-clip:text;color: transparent;font-size:25px;">Discover Special Offers for Upcoming Pooja
                        </p>
                        <h1 style="color: #333; font-size: 2.2em; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; margin-top: 20px; margin-bottom: 10px;">Finding Purohit for Pooja in Your Hometown</h1>
                        <p style="color: #555; margin-top: 15px; color: #333; margin-bottom: 20px;">Explore the best-in-class mentoring plans and professional for pooja</p>
                        <a href="{% url 'courses' %}" style="padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 10px; cursor: pointer; border: 2px solid #3498db; background-color: #3498db; color: #fff; border-radius: 5px;">Book for pooja</a>
                        <a href="{% url 'findpandit' name='Nepal' %}" style="padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 10px; cursor: pointer; border: 2px solid #3498db; background-color: #3498db; color: #fff; border-radius: 5px;">Find a Pandit</a>
                        <!-- <h2 style="font-family:Arial,sans-serif;text-transform: uppercase;font-weight: bold;color: #333333;margin-left:-30px;"></h2> -->
                        <div class="row" style="margin: 10px; margin-top: 20px;">
                            <div class="col-sm-12 col-md-6">
                                <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 10px;">
                                    <div>
                                        <i class="fa fa-users fa-3x" style="color: orange;"></i>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;color: #333;">100+ pujari and pandit connect according to your needs</p>
                                    </div>
                                    <div>
                                        <i class="fa fa-location-arrow fa-3x" style="color: #99f"></i>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;color: #333;">E-services for performing puja from any part of the world.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 10px;">
                                    <div>
                                        <i class="fa fa-star fa-3x" style="color: rgb(211, 211, 50)"></i>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;color: #333;">Designed specifically for your customized puja, for a meaningful connection.</p>
                                    </div>
                                    <div>
                                        <i class="fa fa-hand-o-right fa-3x" style="color: #3498db;"></i>
                                    </div>
                                    <div>
                                        <p style="font-weight: bold;color: #333;">Receive expert guidance from our pandits on selecting rituals.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                    </div>                               
                    <div class="col-xl-2">
                        <div class="card" style="height:250px; width: 200px; margin-top: 10px; border-radius: 15px; overflow: hidden; position: relative;">
                            <img src="{% static 'img/pexels-aarti-vijay-2900315.jpg' %}" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%; border-radius: 15px;">
                            <!-- You can add overlay text or other elements here if needed -->
                        </div>


                        <div class="card" style="height: 250px; width: 200px; margin-top: -70px; margin-left: 130px; border-radius: 15px; overflow: hidden; position: relative;padding: 10px;">
                            <!-- <img src="{% static 'img/pexels-himesh-mehta-3519190.jpg' %}" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%; border-radius: 15px;"> -->
                            <blockquote class="blockquote">
                                <p style="color: black;text-align: center;">
                                  <i class="text-warning"></i>
                                  <span class="font-italic">"Lord Ganesha, the remover of obstacles and the embodiment of wisdom, blesses our journey with grace. In His benevolent presence, challenges transform into opportunities."</span>
                                </p>
                              </blockquote>                        
                            </div>
                            
                    </div>
                    
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div style="display: flex;flex-direction: column;align-items: center;justify-self:center;">
                <h2 style="font-family: Arial, sans-serif;text-transform: uppercase;font-weight: bold;color: #242424;">Services</h2>
            </div>
            <div class="container">
                <div class="row">
                    {% for i in course %}
                        <div class="col-xl-4 p-5">
                            <div class="card" style="overflow: hidden; position: relative; border: 1px solid #ddd; border-radius: 10px;">
                                <div class="card-body" style="display:flex; flex-direction:column; align-items:center;gap:2px;justify-content: center;">
                                    <img src="{{ i.file_mainpic.url }}" class="img-fluid" style="object-fit: cover; height: 250px;">
                                    <h2 style="text-transform: uppercase; font-family: verdana; font-size: 18px; font-weight: bold;">{{ i.course_name }}</h2>
                                    <!-- <p style="font-family: verdana; text-align: justify; font-size:14px;">{{ i.Description|truncatechars:150 }}</p> -->
                                    <a href="{% url 'course_detail' pk=i.pk %}" class="btn btn-primary btn-sm" style="width: 120px;">Book Pooja</a>
                                    <a href="{% url 'add_cart' pk=i.pk %}" class="btn btn-primary btn-sm" style="width: 120px;">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="text-center mt-4" style="margin-bottom: 10px;">
                <a href="{% url 'courses' %}" class="btn btn-info">View More</a>
            </div>
        </section>
            
        
    
        <section class="home-about spad" style="background-color: #f9f9f9;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="home-about-pic">
                            <div class="home-about-pic-item large-item set-bg" data-setbg="{% static 'img/about/about-1.jpeg' %}"></div>
                            <div class="home-about-pic-item">
                                <div class="home-about-pic-item-inner set-bg" data-setbg="{% static 'img/about/about-5.jpg' %}"></div>
                                <div class="home-about-pic-item-inner set-bg" data-setbg="{% static 'img/about/about-6.jpeg' %}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="home-about-text" style="margin-top: -120px;">
                            <div class="container mt-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-8">
                                        <p class="text-center home-about-description" style="font-family: 'Open Sans', sans-serif; font-size: 18px; color: #333;">
                                            Welcome to My Guruji Services, your trusted companion on a spiritual journey. As a new force, we are dedicated to delivering exceptional Hindu pooja services, Vedic Rituals, Religious Ceremonies, and Astrology Services with unwavering commitment.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="container mt-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-6 col-lg-4">
                                        <p class="text-center home-about-icon" style="font-size: 50px; color: #FFD700;">&#11088;</p>
                                        <p class="text-center home-about-feature" style="font-family: 'Open Sans', sans-serif; font-size: 16px; color: #555;">
                                            Fresh Energy: We bring a vibrant and enthusiastic perspective to enrich your spiritual experiences.
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <p class="text-center home-about-icon" style="font-size: 50px; color: #4CAF50;">&#129496;</p>
                                        <p class="text-center home-about-feature" style="font-family: 'Open Sans', sans-serif; font-size: 16px; color: #555;">
                                            Trusted Experts: Our team comprises highly qualified and experienced Shastries and Pandits, carefully chosen to guide you on your path.
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <p class="text-center home-about-icon" style="font-size: 50px; color: #3498db;">&#127969;</p>
                                        <p class="text-center home-about-feature" style="font-family: 'Open Sans', sans-serif; font-size: 16px; color: #555;">
                                            Pooja at Your Doorstep: Experience the convenience of pooja performed in the comfort of your own home.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    

    <section style="margin: 10px;">
        <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
            <h3 style="font-weight: bold;">Exploring Divine Blogs</h3>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% for i in latest_b %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <img src="{{ i.main_pic1.url }}" class="card-img-top" alt="Hanuman Image" style="height: 150px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title" style="text-transform: uppercase;font-weight: bold;">{{ i.title }}</h5>
                            <p style="font-weight:100;font-size: medium;">{{ i.content|truncatewords:10 }}</p>
                            <a href="{% url 'blog_detail' pk=i.pk %}" class="btn btn-success btn-sm">Read more</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center mt-4" style="margin-bottom: 10px;">
            <a href="{% url 'blogs' %}" class="btn btn-info">View More</a>
        </div>
    </section>
    
        
    <section class="appointment" style="margin-top: 20px;">
        <h2 style="text-align: center;">Make An Appointment</h2>

        <div class="container">
            <div class="appointment__text bg-success border border-white border-3 rounded-3 p-4 mx-auto" style="max-width: 1000px;">
             
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
                <form action="{% url 'home' %}" method="post" class="appointment__form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Name" name="Name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Email" name="Email">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Phone" name="Phone">
                        </div>
                        <div class="col-md-6">
                            <select class="form-select" name="classes">
                                <option value="USA">USA</option>
                                <option value="Nepal">Nepal</option>
                                <option value="Canada">Canada</option>
                                <option value="Australia">Australia</option>
                                <option value="INDIA">India</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" placeholder="Message" name="messages"></textarea>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <!-- Gallery Section Begin -->
    {% endblock %}
    
    <!-- Footer Section Begin -->
 
    <section class="footer" style="background-image: linear-gradient(62deg, #FBAB7E 45%, #F7CE68 30%);border: 3px solid white; border-radius: 15px; padding: 20px;">
        <!-- Your footer content goes here -->
            <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6" style="margin-left:50px;">
                    <div class="footer__about">
                        <img src="{% static 'img/logo1.png' %}" alt="" style="width:150px; height:60px;;">
                        <ul>
                            <li style="font-family: sans-serif;color: black;"><i class="fa fa-clock-o"></i>anupthatal2@gmail.com</li>
                            <li style="font-family: sans-serif;color: black;"><i class="fa fa-location">&#127968;</i>location</li>
                        </ul>
                        <form action="{% url 'email' %}" method="post" class="subscribe-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="text" placeholder="email" name="email">

                            <button type="submit" class="btn btn-dark ml-2">
                                <i class="fas fa-subscribe"></i> Subscribe
                              </button>                        
                            </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="margin-left:400px;">
                </div>
            </div>
            
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Teamcodewacky</a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__copyright__social">
                            <a href="#"><i class="fa fa-facebook  bg-primary fa-2x"></i></a>
                            <a href="#"><i class="fa fa-instagram bg-danger fa-2x"></i></a>
                            <a href="#"><i class="fa fa-twitter bg-primary fa-2x"></i></a>
                            <a href="#"><i class="fa fa-linkedin bg-primary fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer Section End -->
<!-- Messenger Chat Plugin Code -->


    

    <!-- Js Plugins -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.nice-select.min.js" %}"></script>
    <script src="{% static "js/jquery.barfiller.js" %}"></script>
    <script src="{% static "js/jquery.slicknav.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>

</html>